<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="vo.users.UsersVO" alias="users" />
		<typeAlias type="vo.recipe.RecipeVO" alias="recipe" />
		<typeAlias type="vo.type.TypeVO" alias="type" />
		<typeAlias type="vo.situation.SituationVO" alias="situation" />
		<typeAlias type="vo.method.MethodVO" alias="method" />
		<typeAlias type="vo.ingre.IngreVO" alias="ingre" />
		<typeAlias type="vo.ingredient.IngredientVO" alias="ingredient" />
		<typeAlias type="vo.step.StepVO" alias="step" />
		<typeAlias type="vo.end_image.EndImageVO" alias="endImage" />
		<typeAlias type="vo.rating.RatingVO" alias="rating" />
		<typeAlias type="vo.recipe_comment.RecipeCommentVO" alias="recipeComment" />
		<typeAlias type="vo.manager.manager.ManagerVO" alias="manager" />
		<typeAlias type="vo.manager.brand.BrandVO" alias="brand" />
		<typeAlias type="vo.qna.QnaVO" alias="qna" />
		<typeAlias type="vo.qna_image.QnaImageVO" alias="qnaImage" />
		<typeAlias type="vo.goods.GoodsVO" alias="goods" />
		<typeAlias type="vo.goods_detail_img.GoodsDetailImgVO" alias="goodsDetailImg" />
		<typeAlias type="vo.goods_img.GoodsImgVO" alias="goodsImg" />
		<typeAlias type="vo.goods_option.GoodsOptionVO" alias="goodsOption" />
		<typeAlias type="vo.wish.WishVO" alias="wish" />
		<typeAlias type="vo.cart.CartVO" alias="cart" />
		<typeAlias type="vo.orderlist.OrderListVO" alias="order" />
		<typeAlias type="vo.manager.brand.BrandVO" alias="brand"/>
		<typeAlias type="vo.review.ReviewVO" alias="review"/>
		<typeAlias type="vo.order_item.OrderItemVO" alias="orderItem"/>
		<typeAlias type="vo.pay.PayVO" alias="pay"/>
	</typeAliases>

	<mappers>
		<mapper resource="config/mybatis/mapper/users.xml" />
		<mapper resource="config/mybatis/mapper/recipe.xml" />
		<mapper resource="config/mybatis/mapper/type.xml" />
		<mapper resource="config/mybatis/mapper/situation.xml" />
		<mapper resource="config/mybatis/mapper/method.xml" />
		<mapper resource="config/mybatis/mapper/ingre.xml" />
		<mapper resource="config/mybatis/mapper/manager.xml" />
		<mapper resource="config/mybatis/mapper/goods.xml" />
		<mapper resource="config/mybatis/mapper/cart.xml" />
		<mapper resource="config/mybatis/mapper/wish.xml" />
		<mapper resource="config/mybatis/mapper/order.xml" />
		<mapper resource="config/mybatis/mapper/brand.xml"/>
		<mapper resource="config/mybatis/mapper/qna.xml"/>
		<mapper resource="config/mybatis/mapper/review.xml"/>
		
	</mappers>
</configuration>